mixin about(content)
  .about 
    each item in content 
      section.about__category
        h3.about__title.title=item.title
        if(item.type==='desc')
          if(typeof(item.desc)!='undefined')
            p.about__desc.desc=item.desc
        if(item.type==='tags')
          if(typeof(item.desc)!='undefined' && !(item.desc==''))
            p.about__desc.desc=item.desc
          if(typeof(item.tags)!='undefined')
            .about__tag-container  
              each tag in item.tags
                a.about__tag.tag(href=`${tag.link}`)=tag.name
        if(item.type==='email')
          if(typeof(item.desc)!='undefined')
            p.about__desc.desc=item.desc
          label 
            input.about__email.email(type="email" placeholder="Ваша почта")
            button.about__button.button Подписаться